<a href="https://colab.research.google.com/github/RussAbbott/Abstractions_and_implementations/blob/master/Copy_of_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Introduction to Assignment 2

Suppose you have a set of numbers: `a_set`. (Why am I sure that the following produces a set?)

In [ ]:
from random import sample

a_set = sample(range(15), 9)
print(f'a_set: {a_set}')

a_set: [4, 8, 7, 13, 1, 5, 0, 10, 2]

And suppose you select a number `k`.

In [ ]:
from statistics import mean

k = round(2*mean(a_set))
print(f'k: {k}')

k: 11

The following will tell you which pairs of numbers from `a_set` add up to `k`. 

>You may not find any, or you may find multiple pairs.

>You can select `Runtime > Run all` to try it multiple times.

In [ ]:
pairs_that_sum_to_k = [(low, k-low) for low in a_set if low < k/2 and k-low in a_set]
print(k, pairs_that_sum_to_k)

11 [(4, 7), (1, 10)]

Assignment 2 is a generalization of the preceding.

# The code and questions for Assignment 2

Each text block asks you to explain something about the program in the  code block that precedes it. Put your explanation below the horizontal line.

In [ ]:
def pairs_sum_to_k(a_set, k):
    """ Find pairs of numbers from a_set (a set of integers) that sum to k (an integer). """
    pairs = [(low, k-low) for low in a_set if low < k/2 and k-low in a_set]
    return pairs

Explain the structure of the code block above, i.e. 
* a line beginning with **`def`** and ending with **`:`** ; 
* one or more lines surrounded by triple double quotes;
* one or more lines of code and comments.

What does that structure do?


---

Explain line 3 of the above function.

---

In [ ]:
def pair_sums(a_set):
    """
    Using a_set (a set of integers) as input, create a dictionary where the keys are the values that 
    pairs of elements in a_set can sum to. The value for each key is a list of pairs from the set,  
    smaller one first, that sum to that number. Return that dictionary.
    """
    pairs_lists_dict = {k: pairs_sum_to_k(a_set, k) for k in range(2*max(a_set))}
    pairs_lists_non_null = {key: pairs_lists_dict[key] for key in pairs_lists_dict if pairs_lists_dict[key] != []}
    return pairs_lists_non_null

Explain line 7 of the above function.

---

Explain line 8 of the above function.

---

In [ ]:
def keys_with_longest_lists(pairs_lists):
    """ 
    Find the keys in pairs_lists that have the largest number of pairs that sum to that key. We can call that
    number "max_pairs_length." Often there will be more than one key with lists of length max_pairs_length.
    Return (a) max_pairs_length and (b) the keys and their associated lists with that length. 
    """
    max_pairs_length = max(len(vals) for vals in pairs_lists.values())
    all_longest_lists = {key: pairs_lists[key] for key in pairs_lists if len(pairs_lists[key]) == max_pairs_length}
    return (max_pairs_length, all_longest_lists)

Explain line 7 of the above function.

---

Explain line 8 of the above function.

---

Explain line 9 of the above function.

---

This code block calls the functions that were defined above and then prints the resuls.
> Any code block may be run separately. But if a code block refers to an element in a preceding code block, the earlier one must be run (which in some cases just means compiled or recompiled) *after* the later one was written but before the later one is run. Or, you can click `Runtime > Run all` to compile and run all code blocks.

In [ ]:
from random import sample

Explain the preceding line. 

---

In [ ]:
upper_bound = 26
sample_size = 8

my_numbers_as_a_list = sample(range(1, upper_bound), sample_size) + sample(range(1, upper_bound), sample_size) 
print(f'my_numbers_as_a_list: {my_numbers_as_a_list}')

my_numbers_as_a_list: [18, 13, 11, 19, 14, 5, 23, 4, 6, 19, 1, 9, 20, 24, 12, 21]

There's no particular reason to generate `my_numbers_as_a_list` this way except to illustrate (a) the `sample` function and (b) the `+` operation on lists.  Explain both.

---

In [ ]:
my_numbers_as_a_set = set(my_numbers_as_a_list)
print(f'my_numbers_as_a_set: {my_numbers_as_a_set}')

my_numbers_as_a_set: {1, 4, 5, 6, 9, 11, 12, 13, 14, 18, 19, 20, 21, 23, 24}

How would you expect `my_numbers_as_a_set` to differ from `my_numbers_as_a_list`?

In [ ]:
non_null_pair_sums = pair_sums(my_numbers_as_a_set)
print('\nPairs lists')
for key in non_null_pair_sums:
    print(f'{key}: {non_null_pair_sums[key]}')

Pairs lists
5: [(1, 4)]
6: [(1, 5)]
7: [(1, 6)]
9: [(4, 5)]
10: [(1, 9), (4, 6)]
11: [(5, 6)]
12: [(1, 11)]
13: [(1, 12), (4, 9)]
14: [(1, 13), (5, 9)]
15: [(1, 14), (4, 11), (6, 9)]
16: [(4, 12), (5, 11)]
17: [(4, 13), (5, 12), (6, 11)]
18: [(4, 14), (5, 13), (6, 12)]
19: [(1, 18), (5, 14), (6, 13)]
20: [(1, 19), (6, 14), (9, 11)]
21: [(1, 20), (9, 12)]
22: [(1, 21), (4, 18), (9, 13)]
23: [(4, 19), (5, 18), (9, 14), (11, 12)]
24: [(1, 23), (4, 20), (5, 19), (6, 18), (11, 13)]
25: [(1, 24), (4, 21), (5, 20), (6, 19), (11, 14), (12, 13)]
26: [(5, 21), (6, 20), (12, 14)]
27: [(4, 23), (6, 21), (9, 18), (13, 14)]
28: [(4, 24), (5, 23), (9, 19)]
29: [(5, 24), (6, 23), (9, 20), (11, 18)]
30: [(6, 24), (9, 21), (11, 19), (12, 18)]
31: [(11, 20), (12, 19), (13, 18)]
32: [(9, 23), (11, 21), (12, 20), (13, 19), (14, 18)]
33: [(9, 24), (12, 21), (13, 20), (14, 19)]
34: [(11, 23), (13, 21), (14, 20)]
35: [(11, 24), (12, 23), (14, 21)]
36: [(12, 24), (13, 23)]
37: [(13, 24), (14, 23), (18, 19)]
38: [(14, 24), (18, 20)]
39: [(18, 21), (19, 20)]
40: [(19, 21)]
41: [(18, 23), (20, 21)]
42: [(18, 24), (19, 23)]
43: [(19, 24), (20, 23)]
44: [(20, 24), (21, 23)]
45: [(21, 24)]
47: [(23, 24)]

Explain lines 3 and 4 above and how they produce the output that's generated.

---

In [ ]:
(longest_list_length, keys_and_their_lists) = keys_with_longest_lists(non_null_pair_sums)
print(f'\nThe longest pairs list{"s have" if len(keys_and_their_lists) > 1 else " has"} '
      f'{longest_list_length} elements.')

The longest pairs list has 6 elements.

Explain line 1 above.

Explain lines 2 and 3 above and how they produce the output that's generated.

---

In [ ]:
for (key, value) in keys_and_their_lists.items():
    print(f'{key}: {value}')

25: [(1, 24), (4, 21), (5, 20), (6, 19), (11, 14), (12, 13)]

Explain lines 1 and 2 above and how they produce the output that's generated.

---

Run the code above multiple times (using `Run > Run all`) and explain why the longest pairs lists often have different numbers of elements from one run to the next. 

---

# Self-evaluations

Evaluation of  group member 1 by group member 1.

---

Evaluation of  group member 2 by group member 2.

---

Evaluation of  group member 3 by group member 3.

---

# Optional comments on the self-evaluations

Optional comments on the self-evaluations by group member 1.

---

Optional comments on the self-evaluations by group member 2.

---

Optional comments on the self-evaluations by group member 3.

---